## .NET
bin/
obj/
publish/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json

## Visual Studio / Rider
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser
.idea/
*.DotSettings.user
launchSettings.json

## Build
*.log
msbuild.binlog

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResults/
coverage*/
*.coverage
*.coveragexml

## User-specific
*.suo
*.user
*.userprefs

## OS files
.DS_Store
Thumbs.db
